accelerate
bitsandbytes
datasets
deepspeed==0.15.1
einops
flash-attn==2.6.1
isort
jsonlines
loralib
optimum
packaging
peft
ray[default]==2.56.0
tensorboard
torch
torchmetrics
tqdm
transformers==5.5.0
transformers_stream_generator
wandb
wheel
